#exp_container {
		position: relative;
		margin-top: 1%;
	  margin-bottom: 2%;
		margin-left: auto;
		margin-right: auto;
		padding: 5%;
		/*border: 1px solid ;*/
		/*box-shadow: 3px 3px 3px #888888; */
		border-radius: 1px;
		vertical-align: top;
		z-index: 0;
		/*background-color: #eee;*/
		height: 420px;
		width: 600px;
		perspective: 500px;
		-webkit-perspective: 500px;


}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
#stim_right_sess3 {
	position: absolute;
	right: 15%;
	top:5%;
	width:30%;
	border-style: none;
	text-align: left;
	vertical-align: middle;
}
#stim_left_sess3 {
	position: absolute;
	left: 15%;
	top:5%;
	width:30%;
	border-style: none;
	text-align: left;
	vertical-align: middle;
}




#stim_right {
	position: absolute;
	right: 15%;
	top:22%;
	width:30%;
	border-style: none;
	text-align: left;
	vertical-align: middle;
}
#stim_left {
	position: absolute;
	left: 15%;
	top:22%;
	width:30%;
	border-style: none;
	text-align: left;
	vertical-align: middle;
}


#selected_stim_right {
	position: absolute;
	right: 15%;
	top:22%;
	width:30%;
	height:55%;
	border: 5px solid ;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}


#selected_stim_left {
	position: absolute;
	left: 15%;
	top:22%;
	width:30%;
	height:55%;
	padding: 5px;
	border: 5px solid ;
	text-align: left;
	vertical-align: middle;
}
